<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="page-container">
    {{>header}}
    <p>I'm fullstack developer, and this is site for my future portfolio. I have used technology as node.js and js(Vanilla)</p>
    <img class="portrait" src="/assets/me.jpg" alt="me">
</div>
{{>footer}}
</body>
</html>